CHANGELOG.md
README.md
package.json
package-lock.json
docs/
dist/
*.yaml
_book/
docs/_book
documentation/_book
**/node_modules/**

charts/cluster/requirements\.lock
.serverless
**/coverage
**/node_modules
*.csv
**/dist
**/build
*.tsbuildinfo
deprecated/